/* начинаю работу над списком особенностей компании  */
.featurs__thumb {
  @include centerFlex();
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.featurs__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.featurs {
  @extend %basic-padding;
}

.featurs__disc {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 0;
}
.featurs__list {
  display: flex;
  flex-wrap: wrap;
  @extend %reset-style;

  & .featurs__item {
    width: 270px;
  }

  & .featurs__item:not(:last-child) {
    margin-right: 30px;
  }
}

/* добавление фона через псевдо-классы */
/* .item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.item:nth-child(1)::before {
  display: block;
  background-image: url(../images/../images/anten.svg);
  background-repeat: no-repeat;

  background-position: center;
}

.item:nth-child(2)::before {
  display: block;
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;

  background-position: center;
}

.item:nth-child(3)::before {
  display: block;
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;

  background-position: center;
}

.item:nth-child(4)::before {
  display: block;
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;

  background-position: center;
} */
